body{
    background: url("../assets/books2.jpg");
}

.sellbtn{
    border-radius: 10px;
    color: black;
    width: 120px;
    height: 40px;
    padding:5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
}
.cen{
    padding-bottom: 10px;
     border-radius: 20px;
    padding-left: 100px;
    padding-right: 30px;
    margin-left: 450px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 500px;
    background-color: rgba(42, 32, 43, 0.5);
    opacity: 100%;
    height: 630px;
    
}
.error{
    padding-left: 35px;
    color: red;
}

      .input{
          width: 200px;
          height: 20px;
          margin-top: 10px;
         
          padding-left: 10px;
          border: 1px solid #777;
          border-radius: 14px;
          outline: none;
          padding-bottom: 1px;
          padding-top: 1px;
      }    
              
      .binput{
        width: 400px;
        height: 50px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
        padding-bottom: 1px;
    }    
    .sinput{
        padding-bottom: 1px;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 14px;
        outline: none;
    }    

body {
    background-color: lavender;
    margin: 0;
  }
  .logo{
    /* padding-right:500px; */
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
   }
   
  img{
     
      float: right;
     padding-top: 100px; 
     padding-right: 100px;
     
  }
  .content{
     float: left;
     padding-top: 150px;
     padding-left: 90px;
  }
  h1 {
      
    font-size: 1.5em;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 1.1;
    text-align: left;
    padding: 7px;
  }
  
  /* NAVBAR START */
  nav {
      padding-top: 5px;
    height: 40px;
    width: 100%;
    background-color: rgb(177, 144, 184);
    color: #eee;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: rgb(214, 200, 214);
  }
  nav a#openup {
    display: none;
  }
  
  
  
  
  
  @media screen and (max-width:590px) {
    .content{
        padding-top: 50px;
        padding-left: 25%;
    }
    img{
        width:70%;
        padding-top: 10px;
        padding-right: 200000px;
        
        
    }
    h1 {
      font-size: 2.8em;
    }
  
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: rgb(177, 144, 184);
      border-bottom: 1px solid rgb(124, 53, 138);
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: rgb(214, 200, 214);
      width: 100%;
      position: relative;
    }
  }
  
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }
  /* NAVBAR END*/