body {
    margin: 0%;
    padding: 0%;
    background-image: url("books_bg.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    background-size: cover;
}

#landing_welcome {
    margin-top: 2%;
    display: flex;
    align-content: center;
    justify-content: center;

    color: black;
}
